<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<%- JSON.stringify(message) %>

</br>
<% if(locals.uberLoginLink) { %>
<a href="<%= uberLoginLink %>">Connect My Uber Account</href>
<% } %>

</body>


</html>